<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Rolling file appender -->
        <RollingFile name="RollingFile" fileName="logs/app.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
            <Policies>
                <!-- Rotate log files daily -->
                <TimeBasedTriggeringPolicy/>
                <!-- Keep up to 5 backup files -->
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <logger name="org.springframework.boot" level="INFO" additivity="false">
            <AppenderRef ref="Console" level="TRACE"/>
            <AppenderRef ref="RollingFile" level="INFO"/>
        </logger>
        <logger name="org.springframework.boot.web.embedded.tomcat" level="INFO" additivity="false">
            <AppenderRef ref="Console" level="TRACE"/>
            <AppenderRef ref="RollingFile" level="INFO"/>
        </logger>
        <logger name="com.mdsl" level="TRACE" additivity="false">
            <AppenderRef ref="Console" level="TRACE"/>
            <AppenderRef ref="RollingFile" level="INFO"/>
        </logger>
        <root level="WARN">
            <AppenderRef ref="Console" level="TRACE"/>
            <AppenderRef ref="RollingFile" level="INFO"/>
        </root>
    </Loggers>
</Configuration>
